/* color scheme
#93a3b1
#7c898b
#636564
#4c443c
#343434
#eeeeee
*/

body {
  padding: 0;
  margin: 0;
  color: #eeeeee;
  background-color: #4c443c;
  font-family: Poiret One, sans-serif;
}

/* HEADER */
header {
  background-image: url(../images/bike-red.jpeg);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.top-banner {
  height: 30em;
}
#banner-logo {
  font-family: Amatic SC;
  border: 1px solid #4c443c;
  border-radius: 50em;
  border-color: #4c443c;
}
nav {
  color: #eeeeee;
  background-color: #93A3B1;
  border-bottom: 1px solid #4c443c;
  border-top: 1px solid rgba(0,0,0,0); /* todo: fix(remove) this */
  text-align: center;
  margin: auto;
  position: sticky;
}
nav ul {
  text-decoration: none;
}
nav ul li {
  display: inline-block;
  padding: 0.5% 1% 0.5% 1%;
}

/* MAIN CONTENT */
#main-content {
  width: 80%;
  margin: auto;
}
#main-content article {
  padding: 1em;
}

.news-content {
  float: left;
}

/* FOOTER */
footer {
  text-decoration: none;
  text-align: center;
}
