/* color scheme
#93a3b1
#7c898b
#636564
#4c443c
#343434
#eeeeee
*/

body {
  padding: 2% 20% 2% 20%;
  margin: 0;
  color: #eaeaea;
  background-color: #46494c;
  font-family: helvetica, sans-serif;
}

/* HEADER */
header {
  margin-bottom: 1%;
}
#banner-logo {
  margin: 0 1em 0 1em;
  font-family: Amatic SC;
  border: 1px solid #e2dadb;
  border-radius: 50em;
}
#banner-logo:hover {
  animation-duration: 0.2s;
  animation-name: jiggle;
}
@keyframes jiggle {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
/* @keyframes drop-logo {
  from {
    margin-top: -100%;
  }
  to {
    margin-bottom: 100%;
  }
} */
nav {
  color: #eeeeee;
  font-family: Poiret One, sans-serif;
  font-size: 115%;
  background-color: #4c5c68;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);;
  border-top: 1px solid rgba(0,0,0,0); /* todo: fix(remove) this */
  text-align: center;
  margin: auto;
  width: inherit;
  z-index: 2;
}
nav ul {
  text-decoration: none;
}
nav ul li {
  display: inline-block;
  padding: 0.5% 1% 0.5% 1%;
}
nav a {
  color: inherit;
  text-decoration: none;
}
nav a:hover {
  transition: .5s;
  color: #aaaaaa;
}
nav .active {
  color: #ffffff;
}
nav #x-padding-image {
  height: 10px;
  width: 10px;
}
/* MAIN CONTENT */
#main-content {
  width: 80%;
  padding: 0 1% 1% 1%;
  margin: auto;
  font-size: large;
  border-radius: 1em;
  box-shadow: 0 -1px 5px 5px #333333;
}
#main-content article {
  padding: 1em;
  overflow: auto;
  text-align: center;
}
.mid-banner {
  height: 25em;
  background-color: #dddddd;
  border-radius: 1em;
  margin-top: 3em;

}
.news-content {
  float: right;
}

/* FOOTER */
footer {
  width: 80%;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid silver;
  padding: 1%;
  margin: auto;
  margin-top: 3%;
}

/* 3 Col Banner */
.image-column {
  background-color: cornflowerblue;
  height: 40em;
  overflow: auto;
  margin: auto;
}
#column-1, #column-2, #column-3 {
  float: left;
  height: inherit;
  width: 33.33%;
  text-align: center;
}
#column-1 {
  background-image: url("../images/urban-commuter.jpeg");
  background-position: center;
  background-size: cover;
}
#column-2 {
  background-image: url("../images/mountain-bike.jpeg");
  background-size: cover;
}
#column-3 {
  background-image: url("../images/road-cycle-mountain.jpeg");
  background-size: cover;
}
